<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quest Store</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/page-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700|Paprika" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-store">
        <img class="navbar-logo" src="images/logo.png" alt="Logo Codecool">
        Quest Store
        </div>
        <ul class="navbar-list">
        <li>
            <a href="/login/admin/profile">
            Profile
            </a>
        </li>
        <li>
            <a href="/login/admin/mentors">
            Mentors
            </a>
        </li>
        <li>
            <a href="/login/admin/classes">
            Classes
            </a>
        </li>
        <li>
            <a href="/login/admin/degrees">
            Degrees
            </a>
        </li>
        <li>
            <a href="/login">
                <img class="navbar-logout" src="images/logout.png" alt="Logout" title="Press to logout">
            </a>
        </li>
        </ul>
    </nav>

    <section class="content-section">
        <div class="div-content-section">
            <h1>Mentors</h1>
            <table>
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>First name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
			{% for mentor in mentors %}
			<tr>
                        	<td>{{ mentor.getLogin() }}</td>
                        	<td>{{ mentor.getFirstName() }}</td>
                        	<td>{{ mentor.getLastName() }}</td>
                        	<td>{{ mentor.getEmail() }}</td>
                        	<td><a href="/login/admin/mentors/admin_one_mentor/{{ mentor.getId() }}"> <img class="table-img" src="images/edit.png" alt="View/Edit" title="View/Edit mentor"></a></td>
                    	</tr>
			{% endfor %}
                </tbody>
            </table> 
            <a class="under-table-a" href="/login/admin/mentors/admin_create_mentor">
                <img class="under-table-img" src="images/add.png" alt="Add new mentor" title="Add new mentor">
            </a>
        </div>
    </section>

    <footer class="page-footer">
        &#169; Copyright a&#38;a 2018
    </footer>   

</body>
</html>
